pyfaup
chardet
PrettyTable
ipywidgets
pylookyloo
mattermostdriver
attackcti
pymisp
abuse_finder
mwdblib
pefile
uuid
folium
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability